* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(202, 240, 248);
}

.picture {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor_img { 
    margin: 0 auto;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}


.h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    font-weight: 200;
}

.h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 119, 182);
    padding: 30px 15px;
    position: sticky;
    top: 0;

}

ul {
    list-style-type: none;
    text-align: center;
}

a {
    color: #fafafa;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

li {
    display: inline ;
    padding: 0 20px;
    margin: 0 10px;

}

p {
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 200;
    text-justify: inter-word; 
    margin: 0 30px; 
}

.Summary {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: bold;
    text-justify: inter-word; 
    margin: 0 30px; 
}

/*Logo de WhatsApp */
.whats {
    width: 130px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


.contact-form {
    width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-field {
    margin-bottom: 10px;
}

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
    width: 100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-field textarea {
    height: 150px;
}

.form-button {
    text-align: center;
}

.form-button input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button input[type="submit"]:hover {
    background-color: #0056b3;
}
